node_modules
build
typechain-types
cache
flatten
coverage
.env

# yarn 2 and non zero-install
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

#Hardhat files
cache
artifacts
